body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}

/*검색용*/
.box {
    margin: 0;
    padding: 30vh 0 0 0;
    width: 100vw;
    height: 70vh;
}

.inputBox, .resultBox, .inResult {
    width: 100vw;
    display: flex;
    justify-content: center;
}

.resultBox {
    margin-top: 10vh;
    flex-direction: column;
    text-align: center;
}

.inputBox .input {
    margin: 0 10px;
    width: 40vw;
}

.resultBox .result {
    margin-left: 10px;
}

.inputBox .button {
    cursor: pointer;
}


/*클라이언트용*/
.App {
    width: 100vw;
    height: 100vh;
}

.map {
    width: 100vw;
    height: 100vh;
}

.locationBtn {
    width: 3vw;
    height: 3vw;
    cursor: pointer;
}